* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-color: #272938;
  font-size: calc(10px + 3vmin);
  color: white;
  scroll-behavior: smooth;
}

#profile-pic {
  border-radius: 50%;
}

.cropped-img {
  width: 150px; 
  height: 150px; 
  object-fit: cover;
  object-position: 25% 25%; 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link, .project-link {
  color: #71e0ff;
  font-size:large;
}

/* .projectTile {
  background: #21264e;
  border: 1px solid rgb(0, 0, 0);
  padding: 0em;
  padding-bottom: 2rem;
  margin: 1rem;
  border-radius: 2%;
  max-width: 300px;
} */

.projectTile .description {
  font-size: 0.6em;
}

.projectTile .title, .description {
  padding: 0.5em;
  margin: 0;
}

.projectTile .preview {
  max-width: 99%;
  border-radius: 2%;
}

/* .projectTile .preview:hover {
  border: 3px solid rgb(117, 117, 247);
} */

.projectSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.p-card {
  flex-grow: 1;
  margin: 0.5rem;
  max-width: 22%;
  min-width: 300px;
  /* height: 360px; */
}

.p-button {
  margin: 0.2rem;
}

/* .p-card-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
} */