@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Kanit&display=swap');

.App {
  text-align: center;
  background-color: #272938;
  font-size: calc(15px + 3vmin);
  font-family: 'Kanit', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.p-tabmenu {
  position: fixed;
  width: 100vw;
  z-index: 100;
  text-align: right;
}
.p-tabmenu-nav{
  display:inline-flex;
  margin-right: 4px;
  padding: 0;
}

.p-tabmenuitem, .p-menuitem-link {
  background-color: #272938 !important;
}


.p-name{
  font-family: 'Caprasimo', cursive;
}

#profile-pic {
  border-radius: 50%;
}

.stack-images-container {
  max-width: 1000px;
}

.cropped-img {
  width: 150px; 
  height: 150px; 
  object-fit: cover;
  object-position: 25% 25%; 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link, .project-link {
  color: #71e0ff;
}

/* .projectTile {
  background: #21264e;
  border: 1px solid rgb(0, 0, 0);
  padding: 0em;
  padding-bottom: 2rem;
  margin: 1rem;
  border-radius: 2%;
  max-width: 300px;
} */

.projectTile .description {
  font-size: 0.6em;
}

.projectTile .title, .description {
  padding: 0.5em;
  margin: 0;
}

.projectTile .preview {
  max-width: 99%;
  border-radius: 2%;
}

/* .projectTile .preview:hover {
  border: 3px solid rgb(117, 117, 247);
} */

.projectSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.stackSection {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.p-stack {
  color: #272938;
  background-color: white;
  z-index: 3;
}
.imgStack {
  padding: 0;
  margin: 2rem;
  height: 7rem;
}

.p-card {
  flex-grow: 1;
  margin: 0.5rem;
  max-width: 22%;
  min-width: 300px;
}

.p-button {
  margin: 0.2rem;
}

/*ANIMATION CSS*/

:not(.circle, .p-tabmenu){
  z-index: 3;
}

.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
  z-index: 1;
}

.small{
  width: 8rem;
  height: 8rem;
  left: -4rem;
  bottom: -4rem;
  z-index: 1;
}

.medium{
  width: 12rem;
  height: 12rem;
  left: -6rem;
  bottom: -6rem;
  z-index: 1;
}

.large{
  width: 16rem;
  height: 16rem;
  left: -8rem;
  bottom: -8rem;
  z-index: 1;
}

.xlarge{
  width: 22rem;
  height: 22rem;
  left: -12rem;
  bottom: -12rem;
  z-index: 1;
}

.xxlarge{
  width: 26rem;
  height: 26rem;
  left: -14rem;
  bottom: -14rem;
}

.shade1{
  opacity: 0.1;
}
.shade2{
  opacity: 0.3;
}

.shade3{
  opacity: 0.5;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.5);
  }
  
  100%{
    transform: scale(0.8);
  }
}